<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
                <a href="@Url.Action("Index", "Home", null)">
                    <img class="menu-logo" src="/Content/images/ThbAbLogo.png" alt="THB-AB logo"/></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="menu-main-item">@Html.ActionLink("Välkommen", "Index", "Home")</li>
                    <li class="menu-main-item">@Html.ActionLink("Om THB-AB", "About", "Home")</li>
                    <li class="menu-main-item">@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                    <li class="menu-main-item">@Html.ActionLink("Anmäl ett serviceärende", "Index", "ServiceCase")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="menu-spacer clearfix"></div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - THB-AB</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
